@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
    .bg-gradient-to-gray-110 {
        background: linear-gradient(to left,
        rgba(243, 244, 246, 1) 20%,
        rgba(243, 244, 246, 0) 80%);
    }

    .text-gradient-parent {
        @apply relative;
    }

    .text-gradient {
        @apply relative cursor-pointer;
    }

    .text-gradient::after {
        @apply absolute top-0 right-0 left-1/2 h-full w-1/4 pointer-events-none;
        content: "";
        background: linear-gradient(to left,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 80%);
    }

    .text-gradient-parent:hover .text-gradient::after {
        @apply bg-gradient-to-gray-110
    }
}
